body{

}
.options{
    margin-top:0.5%;
    margin-bottom: 0.5%;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 1%;
    font-size: 20px;
    
}
.options>a{
    margin-left: 30px;
}
.options>a>button{
    background: transparent;
    border-style: double;
    border-radius: 5px;
}

